<% provide :title, t("edit.title") %>
<h1 class="center"><%= t("edit.edit_title") %><%= resource_name.to_s.humanize %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 spacing">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :fullname, t("form.full_name") %><br />
        <%= f.text_field :full_name, class: "form-control", autofocus: true, autocomplete: "fullname" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, t("form.pass")%> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, t("form.pass_c") %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
