<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if current_page?(current_user) %>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.full_name %>
        </h1>
      <% else %>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.full_name %>
        </h1>
        <%= link_to t("edit.change"), "http://gravatar.com/emails", target: "_blank", class: "change" %>
      <% end %>
    </section>
  </aside>
</div>
