<h1><%= I18n.t("category.title") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @category do |f| %>
      <%= render "shared/error_messages", object: @category %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit t("category.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br/>
<%= render "shared/list_categories", object: @categories %>
