<p>
  <%= t("manger_user.download")%>
  <%= link_to "CSV", admin_users_path(format: "csv") %> |
  <%= link_to "Excel", admin_users_path(format: "xls") %>
</p>
<br/>
<h1><%= t("manger_user.list_user") %></h1>
<div class="col-md-10 col-lg-offset-1">
  <table class="table table-bordered">
    <tr class="bg-primary">
      <th class="text-center col-md-2"><%= t("manger_user.full_name") %></th>
      <th class="text-center col-md-3"><%= t("manger_user.email") %></th>
      <th class="text-center col-md-1"><%= t("manger_user.activated") %></th>
      <th class="text-center col-md-2"><%= t("manger_user.activated_at") %></th>
      <th class="text-center col-md-6" colspan="2"><%= t("category.actions") %></th>
    </tr>
    <%= render(partial: "list_user", collection: @users, as: :user) || t("manger_user.no_person") %>
  </table>
  <div id="paginator">
    <%= paginate @users %>
  </div>
</div>
