<table class="table table-bordered">
  <%= render "header_table" %>
  <% @results.each do |plan| %>
    <% if plan.expenses? %>
      <tr>
        <td scope="row"><%= plan.month %></td>
        <td scope="row"><%= plan.spending_category %></td>
        <td scope="row"><%= plan.type_money %></td>
        <td scope="row"><%= plan.moneys %></td>
        <td scope="row"><%= plan.category.name %></td>
        <td scope="row"><%= plan.status %></td>
      </tr>
    <% end %>
  <% end %>
</table>
