<tr>
  <td scope="row"><%= plan.month %></td>
  <td scope="row"><%= plan.spending_category %></td>
  <td scope="row"><%= plan.type_money %></td>
  <td scope="row"><%= number_to_currency(plan.moneys) %></td>
  <td scope="row"><%= plan.category_name %></td>
  <td scope="row"><%= plan.status %></td>
</tr>
