<?xml version="1.0"?>
  <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
      <Table>
        <Row>
          <Cell><Data ss:Type="String"><%= t("plans.total_table.summary") %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String"><%= t("plans.total_table.total_income") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= t("plans.total_table.total_expenses") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= t("plans.total_table.difference") %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="Number"><%= total_income %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= total_expenses %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= difference %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String"><%= t("plans.index.plan_list") %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String"><%= t("plans.total_table.id") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= t("plans.header_table.month") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= t("plans.header_table.income_expenses") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= t("plans.header_table.fixed_incurred") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= t("plans.header_table.moneys") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= t("plans.header_table.category") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= t("plans.header_table.status") %></Data></Cell>
        </Row>
        <% @plans.each_with_index do |plan, index| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= index+1 %></Data></Cell>
            <Cell><Data ss:Type="String"><%= plan.month %></Data></Cell>
            <Cell><Data ss:Type="String"><%= plan.spending_category %></Data></Cell>
            <Cell><Data ss:Type="String"><%= plan.type_money %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= plan.moneys %></Data></Cell>
            <Cell><Data ss:Type="String"><%= plan.category_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= plan.status %></Data></Cell>
          </Row>
        <% end %>
      </Table>
    </Worksheet>
  </Workbook>
